extends ../layout
block body
	h1 #{title}
	p: a(href="/auth/twitter") Sign in with Twitter
	p: a(href="/auth/facebook") Sign in with Facebook
	p: a(href="/auth/instagram") Sign in with Instagram
	p: a(href="/auth/github") Sign in with Github
	p: a(href="/auth/foursquare") Sign in with Foursquare
	p: a(href="/auth/flickr") Sign in with Flickr